<div class="container">
  <div class="row">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
      <a class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold">Messages</span>
      </a>

      <!-- This needs to be changed to the matchArray -->
        <div class="list-group list-group-flush border-bottom scrollarea" *ngFor="let user of fromUser; let i = index;">
        <a class="list-group-item list-group-item-action py-3 lh-tight" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">{{fromUser[i]}}</strong>
          </div>
          <div class="col-10 mb-1 small">yes</div>
        </a>
      </div>
      <!-- ^^^This needs to be changed to the matchArray^^^ -->

    </div>
    <div class="col mt-1">
      <div class="card">
        <div class="card-body" *ngFor="let msg of msgBody; let i = index;">
          <div class="col text-left">
            <p>{{msg[i+1].send}}</p>
            <p>{{msg[i].send}}</p>
          </div>
          <div class="col text-right">
            <p>yes</p>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
        <input id="sendMsg" type="text" class="form-control" placeholder="Send a message!" aria-label="Send a message!" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
