<body>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3">
            <div class="d-flex align-items-center">
                <div class="image" id="yup" class="rounded"></div>
                <div class="ml-3 w-100">
                    <div class="fire" *ngIf="user.element == 'Fire'">
                        <img
                            src="https://www.clipartmax.com/png/full/83-830894_fire-type-pokemon-symbol-pokemon-fire-type-logo.png">
                    </div>

                    <div class="grass" *ngIf="user.element == 'Grass'">
                        <img
                            src="https://www.clipartmax.com/png/full/322-3228843_pokemon-type-symbols-download-grass-type-pokemon-icon.png">
                    </div>

                    <div class="water" *ngIf="user.element == 'Water'">
                        <img src="https://www.clipartmax.com/png/full/26-261578_pokemon-water-type-symbol.png">
                    </div>

                    <h1 class="mb-0 mt-0">{{user.username}}</h1>

                    <div class="button mt-2 d-flex flex-row align-items-center">
                        <button class="btn btn-sm btn-outline-info w-100" id="favorites" (click)="Favorites()">My
                            favorite pokemon</button>
                        <button class="btn btn-sm btn-outline-info w-100" id="Changeprofilepic"
                            (click)="ChangeProfilePicture()">Change Profile Picture</button>
                    </div>
                    <ol>
                        <li>
                            <p id="favorite1"></p><button (click)="ChangeFavorite(1)">Change favorite</button><button
                                (click)="Battle(1)">Battle</button>
                        </li>
                        <li>
                            <p id="favorite2"></p><button (click)="ChangeFavorite(2)">Change favorite</button><button
                                (click)="Battle(2)">Battle</button>
                        </li>
                        <li>
                            <p id="favorite3"></p><button (click)="ChangeFavorite(3)">Change favorite</button><button
                                (click)="Battle(3)">Battle</button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>