<div class="card" style="width: 18rem;">
<img src="..." class="card-img-top" alt="...">
<ul class="list-group list-group-flush">
    <li class="list-group-item">The user element here</li>
</ul>
<div class="card-body">
    <h5 class="card-title">Profile</h5>
    <p class="card-text">Welcome to your profile page! Select Pokemon to start getting matches and view your message histoy(can change later)</p>
</div>
<div class="card-body">
    <a href="#" class="card-link">Rate Pokemon</a>
    <a href="#" class="card-link">View Matches</a>
</div>
</div>
