<div class="container">
  <div class="card row mx-auto bg-img">
    <div class="card-body text-center row" >
      <div>
        <img src="assets/img/pokematch.png" height ="100">
        <br>
      <div class="ml-1">
        <button class="btn btn-success" (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">
          Register Now
        </button>
      </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="(auth.isAuthenticated$ | async) === true">
<app-user-profile></app-user-profile>
</div>
