<body>

      
  

  <header>
    <h1><img src="assets/img/pokematch.png" height ="100"></h1>
    <h3>Are you single? MewTwo!</h3>
    
  </header>



  <main>
    <p *ngIf="(auth.isAuthenticated$ | async) === false">Here at PokeMatch we want you to find your Nurse Joy</p>
    <div class="ml-1">
      <button class="btn btn-success" (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">
        Register Now
      </button>
    </div>
    <br>
    <br>
    <div class="bugCatcher">
      <img src="assets/img/bugCatcher.png" height ="100">
      <br>
      <button class="btn btn-danger" (click)="bugCatcher()">Report a Bug Now</button>
    </div>
  </main>






  <footer>
    <p>Team Pokemon</p>
    <small>P2 Project, Revature</small>
  </footer>

</body>