<nav class="navbar navbar-expand-lg" style="background-color: #FF9FB2;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/img/pokematch.png" height="45"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="dark-pink-text"><i class="fas fa-bars fa-1x"></i></span></button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="pokemon">Pokemon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="elements">Elements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="user-profile">Profile</a>
                    <a class="nav-link" routerLink="quiz">Quiz</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-light" (click)="loginWithRedirect()" *ngIf="(auth.isAuthenticated$ | async) === false">Login</button></li>
            <li><button type="button" class="btn btn-light" (click)="logout()" *ngIf="(auth.isAuthenticated$ | async) === true">Logout</button></li>
        </ul>
    </div>
</nav>
