<div id ="battledirections" style="text-align: center;">Each pokemon starts with 100hp. Using your moves has a chance to hit the computer's pokemon. Moves damage the pokemon's health. The last pokemon standing wins!</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <div id = "userhealth" style="text-align: left;"></div>
    <div id = "userpokemon" style="text-align: left;"></div>
    <div class ="dropdown" style="text-align: left;"><button id = "moves">moves</button>
        <div class="dropdown-content">
            <div>
                <button type="button" class="btn btn-light" id = "move1" (click)="finishHim('move1')">kick</button>
            </div>
            <div >
                <button type="button" class="btn btn-light" id = "move2" (click)="finishHim('move2')">Slap</button>
            </div>
            <div >
                <button type="button" class="btn btn-light" id = "move3" (click)="finishHim('move3')">oof</button>
            </div>
            <div >
                <button type="button" class="btn btn-light" id = "move4" (click)="finishHim('move4')">Reject</button>
            </div>
            </div>
    </div>
    <div id = "pikachu" style="text-align: center;"></div>

<div id = "computerhealth" style="text-align: right;"></div>
<div id = "computerpokemon" style="text-align: right;"></div>
<div id = "ditto" style="text-align: center;"></div>
