<<<<<<< HEAD
button {
    margin: .5rem;
=======
.container {
    margin-top: 30px;
    font-weight: 900;
    color: #ff8b88;
}


.table {
    margin-top: 15px;
>>>>>>> 061477bf2b786182e64e66d13a0a469f0d6aae4f
}