<p style="text-align: center;">    
    Welcome, please select a pokemon!   
  </p>    
         
    <div class ="input" >         
        {{getPokemonList()}}  
    </div>
  <!-- <div class="pokemon" id = "List" style="text-align: center;"></div>
    <div id = "names" style="text-align: center;"></div> -->
  <ol>
    <li id = "1" onclick="selectedPokemon()"></li>
    <li id = "2" onclick="selectedPokemon()"></li>
    <li id = "3" onclick="selectedPokemon()"></li>
    <li id = "4" onclick="selectedPokemon()"></li>
    <li id = "5" onclick="selectedPokemon()"></li>
    <li id = "6" onclick="selectedPokemon()"></li>
    <li id = "7" onclick="selectedPokemon()"></li>
    <li id = "8" onclick="selectedPokemon()"></li>
    <li id = "9" onclick="selectedPokemon()"></li>
  </ol>

  <div id = "select" style="text-align: right;"></div>
  <style>
      .input{
        text-align: center;
      }
      .pokemon{
        text-align: center;
      }
  </style>