<p style="text-align: center;" id= "directions">    
    Welcome, please select a pokemon for your profile picture!   
  </p>    
         
    <div class ="input" >         
        {{getPokemonList()}}  
    </div>
  <ol>
    <li><button class="nav-link" id = "1" (click)="selectedPokemon(1)"></button></li>
    <li><button class="nav-link" id = "2" (click)="selectedPokemon(2)"></button></li>
    <li><button class="nav-link" id = "3" (click)="selectedPokemon(3)"></button></li>
    <li><button class="nav-link" id = "4" (click)="selectedPokemon(4)"></button></li>
    <li><button class="nav-link" id = "5" (click)="selectedPokemon(5)"></button></li>
    <li><button class="nav-link" id = "6" (click)="selectedPokemon(6)"></button></li>
    <li><button class="nav-link" id = "7" (click)="selectedPokemon(7)"></button></li>
    <li><button class="nav-link" id = "8" (click)="selectedPokemon(8)"></button></li>
    <li><button class="nav-link" id = "9" (click)="selectedPokemon(9)"></button></li>
  </ol>

  <div id = "select" style="text-align: right;"></div>
  <style>
      .input{
        text-align: center;
      }
      .pokemon{
        text-align: center;
      }
  </style>
