<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <form (ngSubmit)="onSubmit()">
                <div *ngIf="currQues < quiz.length">
                    <h1>{{quiz[currQues].question}}</h1>
                    <br>
                    <ul class="list-group" *ngFor="let quiz of quiz[currQues].answer">
                        <label>
                            <li class="list-group-item">
                                <input type="radio" name="options" (change)="onAnswer(quiz.type, quiz.point)">
                                {{quiz.option}}
                                <br>
                            </li>
                        </label>
                    </ul>
                </div>

                <br>

                <div class="result" *ngIf="type != ''">
                    <div *ngIf="type == 'Fire'"><img src="https://www.clipartmax.com/png/full/83-830894_fire-type-pokemon-symbol-pokemon-fire-type-logo.png"></div>
                    <div *ngIf="type == 'Grass'"><img src="https://www.clipartmax.com/png/full/322-3228843_pokemon-type-symbols-download-grass-type-pokemon-icon.png"></div>
                    <div *ngIf="type == 'Water'"><img src="https://www.clipartmax.com/png/full/26-261578_pokemon-water-type-symbol.png"></div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-info" (click)="submitUser()">Submit</button>
                    </div>
                </div>

                <br>

                <div class="btn-group" *ngIf="type == ''">
                    <div *ngIf="currQues == quiz.length" >
                        <button class="btn btn-info" (click)="restart()">Take quiz again?</button>
                    </div>
                    <div *ngIf="currQues == quiz.length">
                        <button type="submit" class="btn btn-info">Result</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>