<form action="">
    <div class="col-mid-4 mb-3">
        <label>Username</label>
        <div class="input-group">
            <div>
                <input type="text" class="form-control" [formControl]="username" [class.is-invalid]="username.invalid && username.errors?.userExists" [class.is-valid]="username.valid">
    
                <div class="invalid-feedback">
                    Username already exists
                </div>
            </div>
        </div>
    </div>

    <button type="submit">Submit</button>
</form>