<div class="container">
    <h1><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqM2tHN6L-DJuZZiiKtTOSyyB3jYFRdMU4dg&usqp=CAU" alt=""> Matches <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqM2tHN6L-DJuZZiiKtTOSyyB3jYFRdMU4dg&usqp=CAU" alt=""></h1>
    <br>
    <table class="table">
        <tbody>
            <tr *ngFor="let match of user.matches">
                <td><b style="color: violet; font-size:20px;">{{match.name}}</b>
                    <button class="btn btn-success" (click)="goToMessage()">Message</button>
                    <button class="btn btn-danger" (click)="unmatch(match.id)">Unmatch</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>