<p style="text-align: center;" id= "directions">    
    Welcome, please select a pokemon for your profile picture!   
  </p>    
        
    <div class ="input" >         
        {{getPokemonList()}}  
    </div>
  <ol>
    <li><button id = "1" (click)="selectedPokemon(1)" class="btn btn-light"></button></li>
    <li><button id = "2" (click)="selectedPokemon(2)" class="btn btn-light"></button></li>
    <li><button id = "3" (click)="selectedPokemon(3)" class="btn btn-light"></button></li>
    <li><button id = "4" (click)="selectedPokemon(4)" class="btn btn-light"></button></li>
    <li><button id = "5" (click)="selectedPokemon(5)" class="btn btn-light"></button></li>
    <li><button id = "6" (click)="selectedPokemon(6)" class="btn btn-light"></button></li>
    <li><button id = "7" (click)="selectedPokemon(7)" class="btn btn-light"></button></li>
    <li><button id = "8" (click)="selectedPokemon(8)" class="btn btn-light"></button></li>
    <li><button id = "9" (click)="selectedPokemon(9)" class="btn btn-light"></button></li>
  </ol>

  <div id = "select" style="text-align: right;"></div>
  <style>
      .input{
        text-align: center;
      }
      .pokemon{
        text-align: center;
      }
  </style>
